<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction

Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones.

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage.

Therefore if we can determine if the first stage will land, we can determine the cost of a launch.

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

<a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01" target="_blank">Spacex DataSet</a>

### Store the dataset in database table

**it is highly recommended to manually load the table using the database console LOAD tool in DB2**.

<img src = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/spacexload.png">

Now open the Db2 console, open the LOAD tool, Select / Drag the .CSV file for the  dataset, Next create a New Table, and then follow the steps on-screen instructions to load the data. Name the new table as follows:

**SPACEXDATASET**

**Follow these steps while using old DB2 UI which is having Open Console Screen**

**Note:While loading Spacex dataset, ensure that detect datatypes is disabled. Later click on the pencil icon(edit option).**

1.  Change the Date Format by manually typing DD-MM-YYYY and timestamp format as DD-MM-YYYY HH\:MM:SS

2.  Change the PAYLOAD_MASS\_\_KG\_  datatype  to INTEGER.

<img src = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/spacexload2.png">

**Changes to be considered when having DB2 instance with the new UI having Go to UI screen**

*   Refer to this insruction in this <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sign%20up%20for%20IBM%20Cloud%20-%20Create%20Db2%20service%20instance%20-%20Get%20started%20with%20the%20Db2%20console/instructional-labs.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01">link</a> for viewing  the new  Go to UI screen.

*   Later click on **Data link(below SQL)**  in the Go to UI screen  and click on **Load Data** tab.

*   Later browse for the downloaded spacex file.

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/browsefile.png" width="800"/>

*   Once done select the schema andload the file.

 <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/spacexload3.png" width="800"/>

In [2]:
!pip install sqlalchemy==1.3.9

Collecting sqlalchemy==1.3.9
  Downloading SQLAlchemy-1.3.9.tar.gz (6.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 6.0/6.0 MB 78.2 MB/s eta 0:00:00:00:0100:01
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: sqlalchemy
  Building wheel for sqlalchemy (setup.py) ... done
  Created wheel for sqlalchemy: filename=SQLAlchemy-1.3.9-cp37-cp37m-linux_x86_64.whl size=1159122 sha256=ddbb656722e24734b0211037abd9c3436872d6b67f0b60f2d6ac42f42eb0a4f2
  Stored in directory: /home/jupyterlab/.cache/pip/wheels/ef/95/ac/c232f83b415900c26553c64266e1a2b2863bc63e7a5d606c7e
Successfully built sqlalchemy
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.3.24
    Uninstalling SQLAlchemy-1.3.24:
      Successfully uninstalled SQLAlchemy-1.3.24
Successfully installed sqlalchemy-1.3.9

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [3]:
%load_ext sql

In [4]:
import csv, sqlite3

con = sqlite3.connect("my_data1.db")
cur = con.cursor()

In [5]:
!pip install -q pandas==1.1.5

In [6]:
%sql sqlite:///my_data1.db

'Connected: @my_data1.db'

In [7]:
import pandas as pd
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")

/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/pandas/core/generic.py:2882: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  both result in 0.1234 being formatted as 0.12.

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case enclose it in double quotes
For Example "Landing_Outcome"**

### Task 1

##### Display the names of the unique launch sites  in the space mission

In [8]:
%sql SELECT distinct LAUNCH_SITE FROM SPACEXTBL

 * sqlite:///my_data1.db
Done.

[('CCAFS LC-40',), ('VAFB SLC-4E',), ('KSC LC-39A',), ('CCAFS SLC-40',)]

### Task 2

##### Display 5 records where launch sites begin with the string 'KSC'

In [19]:
%sql SELECT * FROM SPACEXTBL where LAUNCH_SITE like 'KSC%' limit 5

 * sqlite:///my_data1.db
Done.

[('19-02-2017', '14:39:00', 'F9 FT B1031.1', 'KSC LC-39A', 'SpaceX CRS-10', 2490, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'Success (ground pad)'),
 ('16-03-2017', '06:00:00', 'F9 FT B1030', 'KSC LC-39A', 'EchoStar 23', 5600, 'GTO', 'EchoStar', 'Success', 'No attempt'),
 ('30-03-2017', '22:27:00', 'F9 FT  B1021.2', 'KSC LC-39A', 'SES-10', 5300, 'GTO', 'SES', 'Success', 'Success (drone ship)'),
 ('01-05-2017', '11:15:00', 'F9 FT B1032.1', 'KSC LC-39A', 'NROL-76', 5300, 'LEO', 'NRO', 'Success', 'Success (ground pad)'),
 ('15-05-2017', '23:21:00', 'F9 FT B1034', 'KSC LC-39A', 'Inmarsat-5 F4', 6070, 'GTO', 'Inmarsat', 'Success', 'No attempt')]

### Task 3

##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [10]:
%sql SELECT sum(payload_mass__KG_) as total_payload_mass, booster_version FROM SPACEXTBL group by booster_version

 * sqlite:///my_data1.db
Done.

[(2647, 'F9 B4  B1039.2'),
 (5384, 'F9 B4  B1040.2'),
 (9600, 'F9 B4  B1041.2'),
 (6460, 'F9 B4  B1043.2'),
 (3310, 'F9 B4 B1039.1'),
 (4990, 'F9 B4 B1040.1'),
 (9600, 'F9 B4 B1041.1'),
 (3500, 'F9 B4 B1042.1'),
 (5000, 'F9 B4 B1043.1'),
 (6092, 'F9 B4 B1044'),
 (362, 'F9 B4 B1045.1'),
 (2697, 'F9 B4 B1045.2'),
 (3600, 'F9 B5  B1046.1'),
 (5800, 'F9 B5 B1046.2'),
 (4000, 'F9 B5 B1046.3'),
 (12050, 'F9 B5 B1046.4'),
 (5300, 'F9 B5 B1047.2'),
 (6500, 'F9 B5 B1047.3 '),
 (3000, 'F9 B5 B1048.2'),
 (4850, 'F9 B5 B1048.3'),
 (15600, 'F9 B5 B1048.4'),
 (15600, 'F9 B5 B1048.5'),
 (9600, 'F9 B5 B1049.2'),
 (13620, 'F9 B5 B1049.3'),
 (15600, 'F9 B5 B1049.4'),
 (15600, 'F9 B5 B1049.5'),
 (15440, 'F9 B5 B1049.6'),
 (15600, 'F9 B5 B1049.7 '),
 (4200, 'F9 B5 B1051.2 '),
 (15600, 'F9 B5 B1051.3'),
 (15600, 'F9 B5 B1051.4'),
 (14932, 'F9 B5 B1051.5'),
 (15600, 'F9 B5 B1051.6'),
 (2268, 'F9 B5 B1056.2 '),
 (6956, 'F9 B5 B1056.3 '),
 (15600, 'F9 B5 B1056.4'),
 (5500, 'F9 B5 B1058.2 '),
 (15600, 'F9 B5 B1058.3 '),
 (2972, 'F9 B5 B1058.4 '),
 (1977, 'F9 B5 B1059.2'),
 (15410, 'F9 B5 B1059.3'),
 (3130, 'F9 B5 B1059.4'),
 (15600, 'F9 B5 B1060.2 '),
 (15600, 'F9 B5 B1060.3'),
 (7075, 'F9 B5B1047.1'),
 (9600, 'F9 B5B1048.1'),
 (7060, 'F9 B5B1049.1'),
 (2500, 'F9 B5B1050'),
 (12055, 'F9 B5B1051.1'),
 (4400, 'F9 B5B1054'),
 (2495, 'F9 B5B1056.1 '),
 (12530, 'F9 B5B1058.1 '),
 (2617, 'F9 B5B1059.1'),
 (4311, 'F9 B5B1060.1'),
 (12500, 'F9 B5B1061.1 '),
 (4311, 'F9 B5B1062.1'),
 (1192, 'F9 B5B1063.1'),
 (5300, 'F9 FT  B1021.2'),
 (3669, 'F9 FT  B1029.2'),
 (5200, 'F9 FT  B1031.2'),
 (4230, 'F9 FT  B1032.2'),
 (2205, 'F9 FT  B1035.2'),
 (9600, 'F9 FT  B1036.2'),
 (2150, 'F9 FT  B1038.2'),
 (2034, 'F9 FT B1019'),
 (5271, 'F9 FT B1020'),
 (3136, 'F9 FT B1021.1'),
 (4696, 'F9 FT B1022'),
 (3100, 'F9 FT B1023.1'),
 (3600, 'F9 FT B1024'),
 (2257, 'F9 FT B1025.1'),
 (4600, 'F9 FT B1026'),
 (9600, 'F9 FT B1029.1'),
 (5600, 'F9 FT B1030'),
 (2490, 'F9 FT B1031.1'),
 (5300, 'F9 FT B1032.1'),
 (6070, 'F9 FT B1034'),
 (2708, 'F9 FT B1035.1'),
 (9600, 'F9 FT B1036.1'),
 (6761, 'F9 FT B1037'),
 (475, 'F9 FT B1038.1'),
 (0, 'F9 v1.0  B0003'),
 (0, 'F9 v1.0  B0004'),
 (525, 'F9 v1.0  B0005'),
 (500, 'F9 v1.0  B0006'),
 (677, 'F9 v1.0  B0007'),
 (14642, 'F9 v1.1'),
 (500, 'F9 v1.1  B1003'),
 (2216, 'F9 v1.1 B1010'),
 (4428, 'F9 v1.1 B1011'),
 (2395, 'F9 v1.1 B1012'),
 (570, 'F9 v1.1 B1013'),
 (4159, 'F9 v1.1 B1014'),
 (1898, 'F9 v1.1 B1015'),
 (4707, 'F9 v1.1 B1016'),
 (553, 'F9 v1.1 B1017'),
 (1952, 'F9 v1.1 B1018')]

### Task 4

##### Display average payload mass carried by booster version F9 v1.1

In [11]:
%sql SELECT avg(payload_mass__KG_) as avg_payload_mass, booster_version FROM SPACEXTBL  WHERE booster_version = 'F9 v1.1'

 * sqlite:///my_data1.db
Done.

[(2928.4, 'F9 v1.1')]

### Task 5

##### List the date where the succesful landing outcome in drone ship was acheived.

*Hint:Use min function*

In [20]:
## use "Landing _Outcome" due to space in the name of the column Landing _Outcome
%sql  SELECT MIN(DATE) AS FirstSuccessfull_landing_date FROM SPACEXTBL  WHERE "Landing _Outcome"='Success (drone ship)'

 * sqlite:///my_data1.db
Done.

[('06-05-2016',)]

### Task 6

##### List the names of the boosters which have success in ground pad  and have payload mass greater than 4000 but less than 6000

In [21]:
%sql  SELECT booster_version FROM SPACEXTBL WHERE "Landing _Outcome" = 'Success (ground pad)' AND payload_mass__KG_ > 4000 AND payload_mass__KG_ < 6000

 * sqlite:///my_data1.db
Done.

[('F9 FT B1032.1',), ('F9 B4 B1040.1',), ('F9 B4 B1043.1',)]

### Task 7

##### List the total number of successful and failure mission outcomes

In [14]:
%sql  SELECT COUNT(Mission_Outcome) AS SuccessOutcome FROM SPACEXTBL WHERE Mission_Outcome LIKE 'Success%'

 * sqlite:///my_data1.db
Done.

[(100,)]

In [15]:
%sql  SELECT COUNT(Mission_Outcome) AS FailureOutcome FROM SPACEXTBL WHERE Mission_Outcome LIKE 'Failure%'

 * sqlite:///my_data1.db
Done.

[(1,)]

### Task 8

##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [16]:
%sql SELECT booster_version, payload_mass__KG_ FROM SPACEXTBL WHERE payload_mass__KG_ = (SELECT MAX(payload_mass__KG_) FROM SPACEXTBL) ORDER BY booster_version

 * sqlite:///my_data1.db
Done.

[('F9 B5 B1048.4', 15600),
 ('F9 B5 B1048.5', 15600),
 ('F9 B5 B1049.4', 15600),
 ('F9 B5 B1049.5', 15600),
 ('F9 B5 B1049.7 ', 15600),
 ('F9 B5 B1051.3', 15600),
 ('F9 B5 B1051.4', 15600),
 ('F9 B5 B1051.6', 15600),
 ('F9 B5 B1056.4', 15600),
 ('F9 B5 B1058.3 ', 15600),
 ('F9 B5 B1060.2 ', 15600),
 ('F9 B5 B1060.3', 15600)]

### Task 9

##### List the records which will display the month names, succesful landing_outcomes in ground pad ,booster versions, launch_site for the months in year 2017

**Note: SQLLite does not support monthnames. So you need to use  substr(Date, 4, 2) as month to get the months and substr(Date,7,4)='2017' for year.**

In [17]:
%sql SELECT booster_version, LAUNCH_SITE,  "Landing _Outcome" ,substr(Date, 4, 2) as Month FROM SPACEXTBL WHERE  "Landing _Outcome" LIKE 'Success (ground pad)' AND substr(Date,7,4)='2017'

 * sqlite:///my_data1.db
Done.

[('F9 FT B1031.1', 'KSC LC-39A', 'Success (ground pad)', '02'),
 ('F9 FT B1032.1', 'KSC LC-39A', 'Success (ground pad)', '05'),
 ('F9 FT B1035.1', 'KSC LC-39A', 'Success (ground pad)', '06'),
 ('F9 B4 B1039.1', 'KSC LC-39A', 'Success (ground pad)', '08'),
 ('F9 B4 B1040.1', 'KSC LC-39A', 'Success (ground pad)', '09'),
 ('F9 FT  B1035.2', 'CCAFS SLC-40', 'Success (ground pad)', '12')]

### Task 10

##### Rank the  count of  successful landing_outcomes between the date  04-06-2010 and 20-03-2017 in descending order.

In [18]:
%sql SELECT "Landing _Outcome", COUNT("Landing _Outcome") FROM SPACEXTBL WHERE DATE BETWEEN '04-06-2010' AND '20-03-2017' GROUP BY "Landing _Outcome" ORDER BY COUNT("Landing _Outcome") DESC

 * sqlite:///my_data1.db
Done.

[('Success', 20),
 ('No attempt', 10),
 ('Success (drone ship)', 8),
 ('Success (ground pad)', 6),
 ('Failure (drone ship)', 4),
 ('Failure', 3),
 ('Controlled (ocean)', 3),
 ('Failure (parachute)', 2),
 ('No attempt ', 1)]

### Reference Links

*   <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%203/LAB-String_Patterns_Sorting_Grouping.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01">Hands-on Lab : String Patterns, Sorting and Grouping</a>

*   <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01">Hands-on Lab: Built-in functions</a>

*   <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*   <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

## Change log

| Date       | Version | Changed by    | Change Description        |
| ---------- | ------- | ------------- | ------------------------- |
| 2021-07-09 | 0.2     | Lakshmi Holla | Changes made in magic sql |
| 2021-05-20 | 0.1     | Lakshmi Holla | Created Initial Version   |

## <h3 align="center"> © IBM Corporation 2021. All rights reserved. <h3/>